<h2>Editing Performer</h2>
<hr />
<%= render 'form', event: @event %>

<div class="float-right">
    <%= link_to 'Show', @event, class: 'btn btn-primary' %>
    <%= link_to 'Cancel', events_path, class: 'btn btn-secondary' %>
</div>
