<h1>Editing Event</h1>
<hr />
<%= render 'form', event: @event %>

<div class="float-right">
    <%= link_to 'Show', @event, class: 'btn btn-primary' %>
    <%= link_to 'Back', events_path, class: 'btn btn-secondary' %>
</div>
