// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//*= require devices.min.css
//*= require flatpickr.min.css

#events tbody tr {
    cursor: pointer;
}
.event-img {
    width: 200px;
}
.phone-preview {
    text-align: center;
    margin: 15px;
    transform-origin: top center;
    transform: scale(0.6);
    max-height: 500px;
}
.phone-preview .screen {
    text-align: left;
    font-family: 'HelveticaNeue', 'Helvetica';
    user-select: none;
    pointer-events: none;
}
.phone-preview .box {
    margin: 15px;
    background-color: white;
    box-shadow: 1px 1px 10px #ccc;
    border-radius: 15px;
    font-size: 1.5em;
}
.phone-preview .box-text {
    padding: 15px;
    padding-top: 5px;
}
.phone-preview .screen img {
    width: 100%;
}
.phone-preview .box .img-wrapper {
    background-color: #eee;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}
.phone-preview .box .img-wrapper img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 175px;
    border: 1px solid white;
}
.phone-preview .box-title {
    font-size: 18px;
    word-wrap: break-word;
}
.phone-preview .box-desc, .phone-preview .box-date {
    color: #888;
    font-size: 14px;
    display: block;
    word-wrap: break-word;
}
.phone-preview .box-date {
    margin-top: 5px;
}
#event_start_time, #event_end_time {
    background-color: white;
}
#quick-buttons .btn {
    margin-top: 5px;
}
#end-time-wrapper {
    display: none;
}
