// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//*= require devices.min.css

#events tbody tr {
    cursor: pointer;
}
.event-img {
    width: 200px;
}
.phone-preview {
    text-align: center;
    margin: 15px;
    transform-origin: top center;
    transform: scale(0.6);
    max-height: 325px;
}
.phone-preview .screen {
    text-align: left;
    font-family: 'HelveticaNeue', 'Helvetica';
}
.phone-preview .box {
    margin: 15px;
    background-color: white;
    box-shadow: 1px 1px 10px #ccc;
    border-radius: 15px;
    font-size: 1.5em;
}
.phone-preview .box-text {
    padding: 15px;
}
.phone-preview .screen img {
    width: 100%;
}
.phone-preview .box .img-wrapper {
    border-radius: 15px 15px 0 0;
    height: 150px;
    overflow: hidden;
    background-color: #eee;
}
.phone-preview .box-title {
    font-size: 18px;
}
.phone-preview .box-desc, .phone-preview .box-date {
    color: #888;
    font-size: 14px;
    display: block;
}
.phone-preview .box-date {
    margin-top: 5px;
}
