body {
  background-color: #fff;
  color: #333;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a:not(.btn) {
  color: #666;

  &:hover {
    color: #111;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors .form-control {
  border-color: red;
}

.alert ul {
  margin-bottom: 0;
}

label {
  display: block;
}
